@font-face {
    font-family: 'Montserrat';
    src: url('../film/font/Montserrat-Bold.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../film/font/Montserrat-Regular.ttf') format('truetype');
    font-weight: 700;
}
